<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1">
    <title>Zuzia - Davet</title>
    <script>
function IE(e) {
     if (navigator.appName == "Microsoft Internet Explorer" && (event.button == "2" || event.button == "3")) {
          alert('SAĞ TIKLAMA ENGELİ');
          return false;
     }
}
function NS(e) {
     if (document.layers || (document.getElementById && !document.all)) {
          if (e.which == "2" || e.which == "3") {
               alert('Sitemizin kod ve resimlerinin korunması amacıyla sağ tıklama engellenmiştir. Anlayışınız için teşekkür ederiz.');
               return false;
          }
     }
}
document.onmousedown=IE;document.onmouseup=NS;document.oncontextmenu=new Function("return false");
</script>
<link rel="icon" href="https://cdn.discordapp.com/attachments/899685954984505354/937354925481009182/unknown.png" type="image/x-icon">
    <meta content="Zuzia Gelişmiş Komutları İle İnovasyon Yaratmaya Gelen Türkçe Discord Botu!" name="description">
<meta name="author" content="Zuzia RodzeN">
<meta name="theme-color" content="#303136">
<meta name="title" content="Zuzia - Davet">
<meta name="discord:card" content="https://cdn.discordapp.com/attachments/890633245597786133/935898034259247144/unknown.png">
<meta property="og:image" content="https://cdn.discordapp.com/avatars/924363100608675892/ab374ee94aa399554b7b42c50bbf79fa.webp?size=2048" />
<meta property="og:keywords" content="Zuzia Gelişmiş Komutları İle İnovasyon Yaratmaya Gelen Türkçe Discord Botu!">
<meta property="og:type" content="website">
<meta property="og:image:width" content="300">
<meta property="og:image:height" content="300">
<meta property="og:image:margin-top" content="50%">
<meta content="" name="keywords">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="https://cdn.discordapp.com/avatars/924363100608675892/ab374ee94aa399554b7b42c50bbf79fa.webp?size=2048" sizes="25x25">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <script type="text/javascript">
var title = document.title;
var alttitle = "Zuzia Seni Bekliyor ^^";
window.onblur = function () { document.title = alttitle; };
window.onfocus = function () { document.title = title; };
</script>
</head>
<body onload="yonlendir()"> 
</body>
<script>
function yonlendir(){
window.location.href = "https://discord.com/oauth2/authorize?client_id=924363100608675892&scope=bot+applications.commands&permissions=8";
}
</script>
<style>
  body{
  background: #111;
  }</style>
</html>